.wrapper {width:620px; margin:0 auto;}


li {  font-family: "ff-meta-web-pro",sans-serif; }
.posts li {padding:0 0 0 110px;}

h6.countryOrigin { font-style:italic; padding:0 0 0 35px; font-size: 16px; line-height: 16px; font-weight: normal; }
.usa { background: url('http://chrisncarpenter.github.io/images/usa.gif') no-repeat top left;}
.co2 { width:310px; float:left;}