.wrapper {width:620px; margin:0 auto;}


li {  font-family: "ff-meta-web-pro",sans-serif; }

h6.countryOrigin { font-style:italics; padding:0 0 0 35px; font-size: 16px; }
.usa { background: url('http://chrisncarpenter.github.io/images/usa.gif') no-repeat top left;}