<header class="site-header">

  <div class="wrap">

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
 
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
		{% for dale in site.data.nav %}
		<li>
		<a  id="nav-{{dale.id}}" href="{{ dale.href }}">{{ dale.title }}</a>
		</li>
		{% endfor %}
    </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
    </nav>

  </div>

</header>
