---
layout: actualpost
---
<div class="post">

  <header class="post-header recipe">
    <h1>{{ page.title }}</h1>
    <ul class="cookingmeta">
    	<li><strong>Cusine</strong> {{ page.cusine }}</li>
    	<li><strong>Preparation </strong> {{ page.preptime }}</li>
    	<li><strong>Cooking </strong> {{ page.cookingtime }}</li>
    </ul>
    	
    <img src="/imgs/{{ page.img }}" width="100" height="50"> 
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  <div class="lhsCol">
  <h3>Ingredients</h3>
  <ul class="ingredients">
    {% for item in page.ingredients %}
        <li>{{item.name}}</li>
    {% endfor %}
    </ul>
    <h3>Equipment</h3>
  <ul class="equipment">
    {% for item in page.equipment %}
        <li>{{item.name}}</li>
    {% endfor %}
    </ul>
  </div>
  
  <div class="rhsCol">
  {{ content }}
  </div>
  </article>
  <div class="npSlider">
  <img src="/imgs/{{ page.previous.img }}" width="100" height="50"> 
 	 
 	 <a href="{{page.previous.url}}">{{page.previous.title}}</a>
	</div>
</div>